* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #25178A;
    border-top: 2px solid #F24C88;
    border-bottom: 2px solid #F24C88;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
}

header > ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

header > ul > li {
    display: inline-block;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-image {
    width: 80px;
    height: 80px;
}
